<style>
    body{
        background-color: white;
    }
    .form-signup{
        margin-left: 30%;
        margin-right: 30%;
        padding:5%;
        border-radius: 5%;
    }
    ul{
        padding: 0px;
    }
    li{
        display:inline-block;
    }
    li::before{
        content:"\25aa";
        padding: 10px;
    }
</style>
<div class="container">
    <div class="form-signup">
        <h3 class="display-4 text-center" style="padding-bottom:20px;">Sign up</h3>
        <ul>
            {{{msg}}}
        </ul>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="firstname">firstname: </label>
                <input type="text" name="firstname" class="form-control" id="firstname">
            </div>
            <div class="form-group">
                <label for="lastname">lastname: </label>
                <input type="text" name="lastname" class="form-control" id="lastname">
            </div>
            <div class="form-group">
                <label for="username">username: </label>
                <input type="text" name="username" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="email">email: </label>
                <input type="text" name="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-lg" style="padding-left:30px;padding-right:30px;margin-top:10px;">register</button>
            </div>
        </form>
    </div>
</div>

<script>
    function ValidateEmail(mail)   
    {  
        if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail))  
        {  
            return (true)  
        }  
        return (false)  
    } 
    if('{{{msg}}}')
    {
        const msg='{{{msg}}}';
        if(msg.indexOf("firstname")!=-1){
            $("#firstname").addClass("border-danger");
        }
        else{
            $("#firstname").addClass("border-success");
        }
        if(msg.indexOf("lastname")!=-1){
            $("#lastname").addClass("border-danger");
        }
        else{
            $("#lastname").addClass("border-success");
        }
        if(msg.indexOf("username")!=-1){
            $("#username").addClass("border-danger");
        }
        else{
            $("#username").addClass("border-success");
        }
        if(msg.indexOf("email")!=-1){
            $("#email").addClass("border-danger");
        }
        else{
            $("#email").addClass("border-success");
        }
        if(msg.indexOf("password")!=-1){
            $("#password").addClass("border-danger");
        }
        else{
            $("#password").addClass("border-success");
        }
    }
    $('#password').attr( 'autocomplete', 'new-password' );
    $('#password').change(function(){
        let txt=$(this).val();
        console.log(txt+" "+txt.length);
        if(txt.length<8){
            $(this).addClass("border-danger");
            $(this).removeClass("border-success");
        }
        else{
            $(this).addClass("border-success");
            $(this).removeClass("border-danger");
        }
        
    });
    $('input').change(function(){
        if($('input').hasClass("border-danger")){
            console.log(123);
            $('button').attr("disabled","disabled");
        }
        else{
            console.log(321);
            $("button").removeAttr("disabled");
        }
    });
    $('#email').change(function(){
        const email=$(this).val();
        if(ValidateEmail(email)){
            $(this).addClass("border-success");
            $(this).removeClass("border-danger");
        }
        else{
            $(this).addClass("border-danger");
            $(this).removeClass("border-success");
        }
    });
</script>